@using Microsoft.AspNetCore.Identity
@using GateKeeper.Interfaces
@inject IUser<Guid> user

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Register"><span class="fa fa-user-circle"></span> @User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Logout"><span class="fa fa-sign-out"></span> Log out</a>
    </li>
@*@if (user.GetUserContext().Context.User != null)
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
   
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}*@
</ul>
